@tailwind base;
@tailwind components;
@tailwind utilities;







.companies{
    animation:10s infinite linear moveCompany;
  }

  @keyframes moveCompany {
    0%{
      top:0;
    }
    100%{
      top:-50%;
    }
  }